[Desktop Entry]
Encoding=UTF-8
Name=Luminance
Name[en_US]=Luminance
GenericName=HDR imaging
GenericName[de]=Workflow für HDR Bilder
GenericName[en_US]=HDR imaging
GenericName[ru]=Работа с HDR-фотографией
GenericName[it]=Workflow per immagini HDR
Categories=Graphics;RasterGraphics;Photography;Viewer;Qt;
Comment=Luminance is a graphical user interface used to create and tonemap HDR images
Comment[de]=Luminance ist eine grafische Benutzeroberfläche um HDR Bilder zu erzeugen und um die Farbabbildung durchzuführen
Comment[en_US]=Luminance is a graphical user interface used to create and tonemap HDR images
Comment[ru]=Luminance — программа для создания HDR-снимков и отображения тонов
Comment[it]=Luminance e' una interfaccia grafica usata per creare ed eseguire il tonemapping di immagini HDR
Comment[hu_HU]=Ez a program nagy megvilágítástartományú (HDR) képek előállítására és megtekintésére szolgál.
Exec=luminance
Icon=luminance.png
MimeType=
Path=
StartupNotify=true
StartupWMClass=luminance
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
#X-StandardInstall=false
