[Desktop Entry]
Encoding=UTF-8
Name=Qtpfsgui
Name[en_US]=Qtpfsgui
GenericName=HDR imaging
GenericName[de]=Workflow für HDR Bilder
GenericName[en_US]=HDR imaging
GenericName[ru]=Работа с HDR-фотографией
GenericName[it]=Workflow per immagini HDR
Categories=Graphics;RasterGraphics;Photography;Viewer;Qt;
Comment=Qtpfsgui is a graphical user interface used to create and tonemap HDR images
Comment[de]=Qtpfsgui ist eine grafische Benutzeroberfläche um HDR Bilder zu erzeugen und um die Farbabbildung durchzuführen
Comment[en_US]=Qtpfsgui is a graphical user interface used to create and tonemap HDR images
Comment[ru]=Qtpfsgui — программа для создания HDR-снимков и отображения тонов
Comment[it]=Qtpfsgui e' una interfaccia grafica usata per creare ed eseguire il tonemapping di immagini HDR
Comment[hu_HU]=Ez a program nagy megvilágítástartományú (HDR) képek előállítására és megtekintésére szolgál.
Exec=qtpfsgui
Icon=qtpfsgui.png
MimeType=
Path=
StartupNotify=true
StartupWMClass=qtpfsgui
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
#X-StandardInstall=false
