<?xml version="1.0" encoding="UTF-8"?>
<menu>

	<area text="Welcome" file="index.html">
		<submenuitem text="Features Overview" file="features.html" />
		<submenuitem text="What's New" file="news.html" />
	</area>

	<area text="HDR Imaging Basics" file="basics.html">
	</area>

<!-- Let's see if we really need explaining UI parts
	<area text="User interface" file="ui.html">
	</area>
-->
	<area text="Workflow" file="workflow.html">
	</area>

	<area text="Creating HDR Images" file="creating_hdr.html">
		<submenuitem text="Interactive" file="creating_hdr_interactive.html" />
		<submenuitem text="Editing Tools" file="editing_tools.html" />
		<submenuitem text="Batch Mode" file="creating_hdr_batch.html" />
		<submenuitem text="From console" file="creating_hdr_cli.html" />
	</area>

	<area text="Editing HDR Images" file="editing_hdr.html">
	</area>
	
	<area text="Color Management" file="color_management.html">
	</area>
	
	<area text="Tone Mapping" file="tonemapping.html">
		<submenuitem text="Interactive" file="tonemapping_interactive.html" />
		<submenuitem text="Batch Mode" file="tonemapping_batch.html" />
		<submenuitem text="From Console" file="tonemapping_cli.html" />
	</area>

	<area text="Additional Tools" file="additional.html">
		<submenuitem text="Projective Transformation" file="projective_transformation.html" />
		<submenuitem text="Copying Exif Metadata" file="copying_exif.html" />
	</area>

	<area text="Setting up" file="prefs.html">
		<submenuitem text="Interface" file="prefs_ui.html" />
		<submenuitem text="HDR" file="prefs_hdr.html" />
		<submenuitem text="Tone Mapping" file="prefs_tonemapping.html" />
		<submenuitem text="Raw Conversion" file="prefs_rawconversion.html" />
		<submenuitem text="Color Management" file="prefs_cms.html" />
		<submenuitem text="External Tools" file="prefs_tools.html" />
	</area>

	<area text="Tone Mapping Operators" file="tmap_ref.html">
		<submenuitem text="Mantiuk'06" file="tmap_ref_mantiuk06.html" />
<!--		<submenuitem text="Mantiuk'08" file="tmap_ref_mantiuk08.html" />
		<submenuitem text="Fattal" file="tmap_ref_fattal.html" /> -->
		<submenuitem text="Drago" file="tmap_ref_drago.html" />
		<submenuitem text="Durand" file="tmap_ref_durand.html" />
<!--		<submenuitem text="Reinhard'02" file="tmap_ref_reinhard02.html" />
		<submenuitem text="Reinhard'05" file="tmap_ref_reinhard05.html" />
		<submenuitem text="Ashikhmin" file="tmap_ref_ashikhmin.html" />
		<submenuitem text="Pattanaik" file="tmap_ref_pattanaik.html" /> -->
	</area>

<!-- Who will need FAQ with a well structured user manual? :)
	<area text="FAQ" file="faq.html">
	</area>
-->

	<area text="Contributing to This Project" file="contributing.html">
		<submenuitem text="Testing and Reporting" file="contributing_testing.html"/>
		<submenuitem text="Translating" file="contributing_translating.html"/>
		<submenuitem text="Programming" file="contributing_programming.html"/>
		<submenuitem text="Donating" file="contributing_donating.html"/>
	</area>

</menu>
