/***** Body and main container *****/
body {
	/*margin:0 auto;*/
	padding:0;
	font:100% Verdana,Tahoma,Arial,sans-serif;
	color:#303030;
}

a {
	color:#286ea0;
	background-color:inherit;
}

a:hover {
	color:#000;
	background-color:#7CC4FF;
}

a[href ^="http://"], a[href ^="https://"]  {
	background: url(external.png) center right no-repeat;
	padding-right: 15px;
	margin-right: 5px;
}

a img {
	border:0;
}

img{
	/*  Align images centered by default */
	display: block;
    margin-left: auto;
    margin-right: auto
}

h1, h2, h3, h4, h5 {
	color:#404040;
}